<template>
  <div>
    <div id="app" class="flex flex-col h-screen">
      <div id="nav" class="bg-gray-900 text-white p-2">
        <NuxtLink class="p-5" to="/">
          Creusa
        </NuxtLink>
        <NuxtLink class="p-5" to="/about">
          Sobre
        </NuxtLink>
      </div>

      <Nuxt />
    </div>
  </div>
</template>
