<template>
  <div class="flex-1 bg-gray-700 text-white px-8 py-3">
    <h1 class="text-gray-400 font-bold text-xl">
      Sobre a Creusa
    </h1>
    <p>
      A Creusa é um bot temperamental para Discord. Ela toca musicas e faz
      outras tarrefas.
    </p>
    <p>
      Caso você tenha algum problema, sugestão ou ideia, por favor mande para o
      email:
      <a
        href="mailto:incoming+vini84200-creusa-21126728-issue-@incoming.gitlab.com"
        >incoming+vini84200-creusa-21126728-issue-@incoming.gitlab.com</a
      >
    </p>
  </div>
</template>
