<template>
  <div class="flex-1 flex flex-col">
    <div id="nowPlaying" class="flex-shrink px-8 py-3 bg-gray-800 text-white">
      <span
        v-if="isConnected"
        class="bg-green-700 text-white font-bold px-2 rounded-full"
      >
        Online
      </span>
      <span v-else class="bg-red-700 text-white font-bold px-2 rounded-full">
        Offline
      </span>
      <div class="mt-10 mb-8">
        <h2 class="text-gray-400 font-bold text-xl">
          Tocando agora...
        </h2>
        <div v-if="music" class="font-bold text-center">
          <h1 class="text-4xl">
            {{ music.title }}
          </h1>
          <div class="">
            <span class="bg-blue-800 px-2 mx-1 rounded-full">{{
              music.user
            }}</span>
            <a
              :href="'https://youtu.be/' + music.id"
              class="bg-blue-700 px-2  mx-1 rounded-full"
            >
              Link
              <font-awesome-icon
                :icon="['fas', 'external-link-alt']"
                class="text-sm"
              />
            </a>
          </div>
          <div id="controls" class="text-3xl">
            <button class="p-4">
              <font-awesome-icon :icon="['fas', 'step-backward']" />
            </button>
            <button
              v-if="playingStatus == 'playing'"
              class="p-4"
              @click="pause"
            >
              <font-awesome-icon :icon="['fas', 'pause']" />
            </button>
            <button v-else class="p-4" @click="play">
              <font-awesome-icon :icon="['fas', 'play']" />
            </button>
            <button class="p-4" @click="next">
              <font-awesome-icon :icon="['fas', 'step-forward']" />
            </button>
          </div>
        </div>
        <h1 v-else class="font-bold text-4xl text-center text-gray-500">
          Nada tocando
        </h1>
      </div>
    </div>
    <div class="flex-1 bg-gray-700 text-white px-8 py-3">
      <h2 class="text-gray-400 font-bold text-xl">
        Fila de reprodução
      </h2>
      <div>
        <div
          v-for="m in queue"
          :key="m.id"
          class="py-1 px-3 rounded-md hover:bg-gray-800"
        >
          {{ m.title }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  data: () => {
    return {}
  },
  computed: {
    isConnected() {
      return this.$store.state.isConnected
    },
    music() {
      return this.$store.state.music
    },
    queue() {
      return this.$store.state.playlist
    },
    playingStatus() {
      return this.$store.state.playingStatus
    }
  },
  mounted() {
    this.socket = this.$nuxtSocket({
      name: 'creusa',
      persist: true
    })
  },
  sockets: {
    connect() {
      console.log('Connected')
      this.isConnected = true
    },
    disconnect() {
      this.isConnected = false
    }
    // musicChange(music) {
    //   this.music = music
    // }
  },

  methods: {
    pause() {
      this.socket.emit('pause')
    },
    next() {
      this.socket.emit('next')
    },
    play() {
      this.socket.emit('play')
    }
  }
}
</script>
